<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Posts</h1>
    <%= if @current_user_email do %>
      Welcome <%= @current_user_email %>
    <% else %>
      <a href="/login">Log in</a>
    <% end %>

    <form action="/posts" method="post">
      <div>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author">
      <div>
      </div>
        <label for="post">Post:</label>
        <input type="text" id="post" name="post">
      </div>
      <div>
        <button type="submit">Post</button>
      </div>
    </form>

    <div class="posts">
      <%= if @posts do %>
        <ul>
          <%= for post <- @posts do %>
            <li>
              <%= post.body %>
              <strong>by <%= post.author %></strong>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </body>
</html>
